{% from "_includes/forms" import textareaField %}
{{ textareaField({
	id: name,
	name: name,
    label: 'Radio Button Options',
    instructions: 'JSON format. Twig code is <del>allowed</del> encouraged :)',
    rows: 7,
    class: 'code',
    value: settings.json
}) }}
{% verbatim %}
    <h2>Quick start</h2>
    <p>'Copy &amp; Paste' one of the following examples into the textarea above.</p>
    <h3>1. Simple example</h3>
    <p>
    <pre class="code">{ "value":"jim" , "label":"Jim Beam" },
{ "value":"jack" , "label":"Jack Daniels" , "default":true },
{ "value":"mark" , "label":"Maker's Mark" }
</pre>
    </p>
    <h3>2. Twig example</h3>
    <p>
    <pre class="code">{% for entry in craft.entries.limit(null).order('title') %}
    { "value":"{{ entry.id }}" , "label":"{{ entry | raw }}"
        {% if entry.uri == '__home__' %} , "default":true{% endif %}
    }{% if not loop.last %},{% endif %}
{% endfor %}
</pre>
    </p>
    <h3>3. Template example</h3>
    <p>
    <pre class="code">{% include '_dynamicfields/sections' ignore missing %}
</pre>
    </p>
    <p>Example code for /craft/templates/_dynamicfields/sections.html
<pre class="code">
{% for section in craft.sections.getAllSections() %}
    { "value":"{{ section.id }}" , "label":"{{ section | raw }}" }
    {% if not loop.last %},{% endif %}
{% endfor %}
</pre>
    </p>
{% endverbatim %}